<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Candidate_Assessment_Tool_DB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.company.services.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addhr</display-name>
    <servlet-name>Addhr</servlet-name>
    <servlet-class>com.company.services.Addhr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addhr</servlet-name>
    <url-pattern>/Addhr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addjob</display-name>
    <servlet-name>Addjob</servlet-name>
    <servlet-class>com.company.services.Addjob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addjob</servlet-name>
    <url-pattern>/Addjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginhr</display-name>
    <servlet-name>Loginhr</servlet-name>
    <servlet-class>com.company.services.Loginhr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginhr</servlet-name>
    <url-pattern>/Loginhr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateRegt</display-name>
    <servlet-name>CandidateRegt</servlet-name>
    <servlet-class>com.company.services.CandidateRegt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateRegt</servlet-name>
    <url-pattern>/CandidateRegt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quesone</display-name>
    <servlet-name>Quesone</servlet-name>
    <servlet-class>com.company.test.Quesone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quesone</servlet-name>
    <url-pattern>/Quesone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questiontwo</display-name>
    <servlet-name>Questiontwo</servlet-name>
    <servlet-class>com.company.test.Questiontwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questiontwo</servlet-name>
    <url-pattern>/Questiontwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questwo</display-name>
    <servlet-name>Questwo</servlet-name>
    <servlet-class>com.company.test.Questwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questwo</servlet-name>
    <url-pattern>/Questwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questhree</display-name>
    <servlet-name>Questhree</servlet-name>
    <servlet-class>com.company.test.Questhree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questhree</servlet-name>
    <url-pattern>/Questhree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quesfour</display-name>
    <servlet-name>Quesfour</servlet-name>
    <servlet-class>com.company.test.Quesfour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quesfour</servlet-name>
    <url-pattern>/Quesfour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quesfive</display-name>
    <servlet-name>Quesfive</servlet-name>
    <servlet-class>com.company.test.Quesfive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quesfive</servlet-name>
    <url-pattern>/Quesfive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quessix</display-name>
    <servlet-name>Quessix</servlet-name>
    <servlet-class>com.company.test.Quessix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quessix</servlet-name>
    <url-pattern>/Quessix</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quesseven</display-name>
    <servlet-name>Quesseven</servlet-name>
    <servlet-class>com.company.test.Quesseven</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quesseven</servlet-name>
    <url-pattern>/Quesseven</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Queseight</display-name>
    <servlet-name>Queseight</servlet-name>
    <servlet-class>com.company.test.Queseight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Queseight</servlet-name>
    <url-pattern>/Queseight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quesnine</display-name>
    <servlet-name>Quesnine</servlet-name>
    <servlet-class>com.company.test.Quesnine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quesnine</servlet-name>
    <url-pattern>/Quesnine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questen</display-name>
    <servlet-name>Questen</servlet-name>
    <servlet-class>com.company.test.Questen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questen</servlet-name>
    <url-pattern>/Questen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Queseleven</display-name>
    <servlet-name>Queseleven</servlet-name>
    <servlet-class>com.company.test.Queseleven</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Queseleven</servlet-name>
    <url-pattern>/Queseleven</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questwelve</display-name>
    <servlet-name>Questwelve</servlet-name>
    <servlet-class>com.company.test.Questwelve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questwelve</servlet-name>
    <url-pattern>/Questwelve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questhirteen</display-name>
    <servlet-name>Questhirteen</servlet-name>
    <servlet-class>com.company.test.Questhirteen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questhirteen</servlet-name>
    <url-pattern>/Questhirteen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quesfourteen</display-name>
    <servlet-name>Quesfourteen</servlet-name>
    <servlet-class>com.company.test.Quesfourteen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quesfourteen</servlet-name>
    <url-pattern>/Quesfourteen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quesfifteen</display-name>
    <servlet-name>Quesfifteen</servlet-name>
    <servlet-class>com.company.test.Quesfifteen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quesfifteen</servlet-name>
    <url-pattern>/Quesfifteen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quessixteen</display-name>
    <servlet-name>Quessixteen</servlet-name>
    <servlet-class>com.company.test.Quessixteen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quessixteen</servlet-name>
    <url-pattern>/Quessixteen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quesseventeen</display-name>
    <servlet-name>Quesseventeen</servlet-name>
    <servlet-class>com.company.test.Quesseventeen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quesseventeen</servlet-name>
    <url-pattern>/Quesseventeen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Queseighteen</display-name>
    <servlet-name>Queseighteen</servlet-name>
    <servlet-class>com.company.test.Queseighteen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Queseighteen</servlet-name>
    <url-pattern>/Queseighteen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quesnineteen</display-name>
    <servlet-name>Quesnineteen</servlet-name>
    <servlet-class>com.company.test.Quesnineteen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quesnineteen</servlet-name>
    <url-pattern>/Quesnineteen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questwenty</display-name>
    <servlet-name>Questwenty</servlet-name>
    <servlet-class>com.company.test.Questwenty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questwenty</servlet-name>
    <url-pattern>/Questwenty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questone</display-name>
    <servlet-name>Questone</servlet-name>
    <servlet-class>com.company.test.Questone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questone</servlet-name>
    <url-pattern>/Questone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questtwo</display-name>
    <servlet-name>Questtwo</servlet-name>
    <servlet-class>com.company.test.Questtwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questtwo</servlet-name>
    <url-pattern>/Questtwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questthree</display-name>
    <servlet-name>Questthree</servlet-name>
    <servlet-class>com.company.test.Questthree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questthree</servlet-name>
    <url-pattern>/Questthree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questfour</display-name>
    <servlet-name>Questfour</servlet-name>
    <servlet-class>com.company.test.Questfour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questfour</servlet-name>
    <url-pattern>/Questfour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questfive</display-name>
    <servlet-name>Questfive</servlet-name>
    <servlet-class>com.company.test.Questfive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questfive</servlet-name>
    <url-pattern>/Questfive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>markscandi</display-name>
    <servlet-name>markscandi</servlet-name>
    <servlet-class>com.company.test.markscandi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>markscandi</servlet-name>
    <url-pattern>/markscandi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateMarks</display-name>
    <servlet-name>CalculateMarks</servlet-name>
    <servlet-class>com.company.test.CalculateMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateMarks</servlet-name>
    <url-pattern>/CalculateMarks</url-pattern>
  </servlet-mapping>
</web-app>